{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Do it NOW !</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
        <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'jquery-ui.min.css' %}">
    {% block css %}
    {% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">ToDoList</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">Do It Now !</span></a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="/">Hello {{ user.username }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/accounts/logout">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/accounts/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/accounts/register">Register</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>


{% block content %}
{% endblock %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react-dom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.16/browser.js"></script>
<script type="text/javascript" src="{% static 'jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery.ui.touch-punch.min.js' %}"></script>
{% block js %}
{% endblock %}
</body>
</html>